* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;  
  line-height: 1.5;
  color: #333;
  background-color: #fff;

  h1 {
    font-size: 2rem;
    font-weight: 300; 
    transition: all 0.3s ease;  
    
    &:hover {
      color: #000;      
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    transition: all 0.3s ease;

    &:hover {        
      color: #FCE03F;
    }      
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4F3FFC;
    border-bottom: 3px solid #271AB0;
    position: fixed;
    top: 0;
    width: 100%;

    div {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        width: 60px;
        height: 60px;        
        margin-right: 20px;
      }
    }    
  }

  main {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-wrap: wrap;
    padding: 20px;    
    background-color: #958BFD;

    .palette-card {
      margin: 5px;      
      min-width: 200px;
      min-height: 250px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #302e4d;
      

      .palette-header {
        width: 100%;
        background-color: #49457D;
        border-radius: 10px 10px 0 0;
        color: rgb(194, 194, 194);        

        .palette-colors {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;        
          margin: 20px 0;
                    
          .colors {
            height: 20px; 
            width: 80px;
          }                   
        }

        #palette-title {
          padding: 0 10px 10px 10px;
          width: 100%;
          display: flex;    
          justify-content: space-between;            
          
          .fa-heart {
            margin-right: 3px;
            font-size: 1.2rem;
          }

          h2 {
            font-size: 1.2rem;
          }

          p {
            font-size: 1.2rem;            
          }
        }
      }

      #comments-button {
        margin-bottom: 20px;
        //gives button appearance        
        background-color: #7388E6;
        border-radius: 10px;
        padding: 10px;                  
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: #958BFD;
        }

        .fa-comment {
          margin-right: 5px;
        }
      }
    }
  }

  footer {
    background-color: #271AB0;

    p {
      color: #fff;
      font-size: 1rem;
      font-weight: 300; 
      text-align: right;     
      padding: 10px 10px 0px 10px;

      &.small {
        font-size: 0.8rem;
        padding: 5px 10px 10px 10px;
      }

      a {
        font-size: 1rem;                
      }

      
    }        
  }
}